$bg-color: #2C333D;

.navbar {
    width: 100vw;
    height: 40px;
    background-color: $bg-color;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-items: center;
    border-top: 1px solid #3e3e5e;

    > a {
        color:#edddcd;
        padding: 12px;
    }

    > a:hover {
        background-color: rgba(200,200,200, 0.2);
        color: gold;
    }
}
