<div class="date-language">
    <div class="date"></div>
    <div class="language"></div>
</div>
<div class="theatre-list-background">
    <div class="theatre-list-container">
        <div class="theatre" *ngFor="let theatre of theatres">
            <div class="theatre-name">{{theatre.name}}, {{theatre.location}}</div>
            <div class="show-time-container">
                <button class="show-time-btn" *ngFor="let showTime of theatre.showTimes">{{showTime}}</button>
            </div>
            <div class="price">&#8377; {{theatre.price}}</div>
        </div>
    </div>
</div>