.theatre {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
  justify-items: center;
  margin: auto;
  margin-top: 7vh;
  width: 90%;
  height: 10vh;
  background-color: #131317;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #131319;
  border-left: 5px solid #f9d423;
  box-shadow: 0 2px 2px #020505bb, 0 0 2px #0205054f;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 0 8px 8px #020505bb, 0 0 8px #0205054f;
  }

  .theatre-name {
    font-size: 1rem;
    font-weight: 500;
    color: #a3a3a3;
  }

  .show-time-container {
    margin: auto;
  }

  .show-time {
    background-color: transparent;
    color: #a3a3a3;
    padding: 12px 20px;
    outline: none;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;

    option {
      background-color: #333;
      border: none;
    }
  }

  .price {
    font-size: 1rem;
    font-weight: 500;
    margin-right: 40px;
    color: #a3a3a3;
  }

  .book-btn {
    padding: 12px;
    background-image: linear-gradient(to top, #246455, #00e3ae);
    color: #131313;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 30%;
    font-size: 1rem;
    font-weight: 600;
    transition:  0.5s;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 8px 8px #020505bb, 0 0 8px #0205054f;
    }
  }
}
