<div class="recommended-movies">
    <h2>Recommended Movies</h2>
    <div class="movies-row">
        <div *ngFor="let movie of recommendedMovies" class="movie">
            <img [src]="movie.imageUrl">
            <span class="likes"><i class="bi bi-heart-fill heart"></i>{{movie.likes}}</span>
            <span class="rating"><i class="bi bi-star-fill"></i>{{movie.rating}}</span>
            <div class="movie-details">
                <div class="movie-title">{{movie.name}}</div>
                <div>{{movie.category}}</div>
                <ng-container *ngFor="let language of movie.languages; let i = index">
                    <span>{{language}}<span *ngIf="movie.languages.length-1 != i"
                            class="small-dot">&#9679;</span></span>
                </ng-container>
                <button routerLink="/movie" class="book-now-btn">Book Now </button>
            </div>
        </div>
    </div>
</div>