@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: Poppins, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  background-color: #2C333D;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
