* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  background-color: #afe8bc;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
